<div class="image-container">
    <%= link_to image_tag("flower_image.jpeg", alt: "flowers", class: "image"),
                "https://lh3.googleusercontent.com/8Ka_s7_EOwui8WZFB7L6YjzWkAFSAoPpP2gqa_au-PwfYpFzA8TPdwYe6Qo4gajqVeW27EXfJTH4WJU9Ge-T1yL0RQZOBxon7qUT6WYE3YVK-IbpZEpC8oGI_gu8VFyGHB1zMq5bW_4lD6mOD0K605M" %>
        <div class="image-text">
            <h1 class="title-text">Blog Beautiful</h1><br>
                <div class="main-text">
                    <p>Welcome to Blog Beautiful, a space dedicated to bringing you positivity, growth, and interesting things. </p>
                 </div>
                
        </div>
       

    
</div>


