<div class ="home-page">
    <div class="container home-text">
        <h1 class="home-title">Blog Beautiful</h1><br>
        <h2 class="main-text">Welcome to Blog Beautiful, a space dedicated to bringing you positivity, growth, and interesting things. </h2>
    </div>
</div>

