h1 {
    color: black;
    text-align: center;
    font-size: 8vh;
}

.title {
padding-top: 7vh;
}
body {
    background-color: rgb(253, 253, 253);
}

.nav-link {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    min-height: 70px;
}

.navbar-brand {
    color: white;
}

.article-link {
    color: black;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff; /* Add a non-transparent background color */
    }

.image {
    width: 100%;
    height: auto;
    display: block;
}

.image-text {
    position: absolute;
    top: 40vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255) !important;
    z-index: 2;
}

.title-text {
    color: white;
    font-size: 4em;
    padding-bottom: 10vh;
}

.main-text > p {
    text-align: left;
    width: 20vw;
    font-size: 1em;
    line-height: 3vh;
}

.create_new{
    margin-top: 5vh;
}
