h1 {
    color: black;
    text-align: center;
    font-size: 8vh;
}

.title {
padding-top: 7vh;
}
body {
    background-color: rgb(253, 253, 253);
}

.nav-link {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    color: white;
}

.article-link {
    color: black;
}

.image-container {
    position: relative;
    width: 100%;
    background-color: #fff; /* Add a non-transparent background color */
    }


.image-container::before {
    content: "";
    background-image: url("flower_image.jpeg");
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.image {
    width: 100%;
    height: auto;
    display: block;
}

.image-text {
    position: absolute;
    top: 40vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255) !important;
    text-align: center;
}

.title-text {
    color: white;
    font-size: 3em;
}

.main-text {
    text-align: left;
    width: 15vw;
    font-size: 1em;
}

@media (max-width: 768px) {
    .main-text {
        font-size: 0.8em;
        width: 80%;
        margin: 0 auto;
    }
}